/* universal */
@import url(reset.css);

body {
  font-family: Arial, Helvetica, sans-serif;
  color: #777777;
  margin: 0;
}

h1 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 2em;
  font-weight: bold;
}

/* header-div */

#header-div {
  overflow: auto;
  position: relative;
}

#header-div > div {
  width: 960px;
  margin: auto;
  overflow: auto;
}

#header-div > div > h1 {
  float: left;
  margin: 0;
  background-color: #4aaaa5;
  color: white;
  padding: 10px 20px;
}

#header-div > div > ul {
  padding: 10px;
}

.nav-link {
  font-family: Arial, Helvetica, sans-serif;
  color: #777777;
}

#header-div > div > ul > li:nth-child(2) {
  border-left: 2px solid #cccccc;
  border-right: 2px solid #cccccc;
}

/* body-div */
#body-div {
  border-top: 2px solid #dddddd;
  background-image: url("../images/wall.png");
  overflow: auto;
}

#main {
  clear: both;
  width: 960px;
  margin: 110px auto 200px;
  background-color: white;
  padding: 20px;
}

img {
  float: left;
  margin-right: 20px;
  margin-bottom: 10px;
}

#main > h1 {
  border-bottom: 2px solid #dddddd;
  color: #4aaaa5;
  padding-bottom: 30px;
  margin-bottom: 10px;
}

p {
  line-height: 25px;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

/* contact */

input {
  display: block;
  width: 100%;
  margin-top: 3px;
  margin-bottom: 10px;
  border: 1px solid #cccccc;
}

#message {
  display: block;
  margin-top: 3px;
  margin-bottom: 10px;
  width: 100%;
  border: 1px solid #cccccc;
}

#submit {
  background-color: #4aaaa5;
  color: white;
  border: none;
}

/* portfolio */
table {
  width: 100%;
  border-spacing: 1em 0.5em;
  padding: 0 2em 1em 0;
}

tr {
  height: 200px;
}

td {
  border: 1px solid #cccccc;
}

/* footer */

#footer-div {
  position: sticky;
  height: 50px;
  border-top: 8px solid #4aaaa5;
  background-color: #666666;
  text-align: center;
  flex-shrink: 0;
  position: -webkit-sticky;
  position: sticky;
}

footer {
  height: 100%;
  padding-top: 20px;
  color: white;
  font-size: smaller;
  flex-shrink: 0;
  position: -webkit-sticky;
  position: sticky;
}
